// Here you can add other styles

.breadcrumb {
	background-color: inherit;
}

.badge {
	line-height: inherit;
}

.small-width {
	max-width: 200px;
}

.bg-0 {
	background: transparent;
}

.donation-color {
	background-color: #d6ece5 !important;
}

@media (min-width: 1380px) {
	.modal-lg {
		max-width: 1200px;
	}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.5 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.5 !important;
}